<div class="uk-width-1-1" style="background-color:#555; color:#ccc;">
  <div class="uk-grid tm-main">
    <div class="uk-width-1-3" style="padding-left:30px;">
      <strong>Address</strong>
      <p class="form-actions">
        Kerala Mini Sabarimala <br/>
        7/588 Kalikavu Road <br/>
        Mankara Post <br/>
        Palakkad Dt, Kerala State <br/>
        South India 678613 <br/>
      </p>
    </div>

    <div class="phone uk-width-1-3">
     <strong>Phone </strong>
     <p class="form-actions">
      +91-491-287-3453 </br> +91-491-210-7696
     </p>
    </div>

    <div class="mobile uk-width-1-3">
      <strong> Mobile </strong>
      <p class="form-actions">
        +91-944-748-3453 </br> +91-904-884-1334 </br> +91-940-077-3453 </br> +91-854-701-7696<br/>
      </p>
    </div>

  </div>
</div>