<style>
  .aiyappa{
    background-image: url("/images/front-ayyappa-logo.jpg");
    height:150px;
    background-size: contain;
    position: absolute;
    height: 342px;
    width: 250px;
    left: 30px;
    top: 5px;
    box-shadow: 1px 1px 17px #222;
    padding: 3px;
    border: thin solid white;
  }
  .brand-pic{

    height: auto;
    width: 99%;

    box-shadow: 1px 1px 17px #222;
    padding: 3px;
    border: thin solid white;
    margin-left: 15px;
  }
</style>

<nav class="uk-navbar">
  <div class="uk-navbar-brand">Kerala Mini Sabarimala</div>
  <div class="uk-navbar-flip">
    <ul class="uk-navbar-nav">
      <li ><a href="/">Home</a></li>
      <li ><a href="/temple">Temple</a></li>
      <li ><a href="/servicess">Sevicess</a></li>
      <li ><a href="/founder">Founder</a></li>
      <li ><a href="/contact_us">Contact us</a></li>
    </ul>
  </div>
</nav>